/* Sidebar buttons */
.file-button {
  width: 100%;
  background: #1e1e1e;
  color: #e0e0e0;
  font-size: 16px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.file-button:hover {
  background: #2a2a2a;
}

.sidebar-scroll::-webkit-scrollbar {
  width: 0;
}

